.account-container{
    width: 670px;
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    overflow: hidden;
    margin: auto;
    padding: 40px 0px 50px 0px;
    margin-top: 4%;
}
.account-logo-container{
    text-align: center;
}
.quora-logo-account{
    width: 170px;
    margin: auto;
    text-align: center;
}
.account-tag{
    color: #949494;
    font-size: 17px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}
.signup-text{
    text-align: left;
    margin-left: 9%;
    color: #333;
    font-size: 13px;
    font-weight: bold;
}
.signup{
    width: 50%;
    float: left;
    border-right: 1px solid #e2e2e2;
}
.login{
    width: 49%;
    float: left;
}
.first-half{
    margin-left: 6%;
}
.first-half, .second-half{
    width: 45%;
    float: left;
}
.first-name{
    margin-left: 14%;
}
.last-name{
    margin-left: 1%;
}
.account-input{
    background-color: #fafafa;
    border-radius: 3px;
    text-decoration: none;
    padding: 2px 5px;
    /* height: 15px; */
    outline: 0;
    border: 1px solid #e2e2e2;
    font-size: 12px;
    margin-bottom: 10px;
    width: 133px;
    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
}
.account-labels{
    font-size: 11px;
    color: #666;
    font-weight: bold;
    text-align: left;
    height: 16px;
    line-height: 25px;
}
.first-name-label{
    margin-left: 24px;
}
.last-name-label{
    text-align: left;
}
.email{
    width: 274px;
    margin-left: 29px;
}
.email-label{
    margin-left: 32px;
}
.account-btn, .account-btn-login{
    background: #3e78ad;
    color: #fff;
    border-radius: 3px;
    outline: none;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 6px 6px 6px;
    border: 1px solid #3e78ad;
    margin-left: 258px;
    margin-top: 10px;
    cursor: pointer;
}
.email-top{
    margin-top: 15px;
}
.account-btn-login{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    margin-left: 262px;
}
.account-parent-container{
    width: 100%;
    height: 100%;
    background: url('../Images/quora_bg.png') no-repeat center fixed;
    background-size: cover;
    position: fixed;
}

/* ---------------------------- */
/* Styles for ChooseTopics.js */
.topic-header{
    border-top: 2px solid #b92b27;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    background: #fff;
    text-align: center;
}
.topic-logo{
    width: 75px;
    float: left;
    margin-top: 14px;
    margin-left: 20px;
}
.topic-header-text{
    color: #333;
    font-size: 20px;
    font-weight: bold;
    line-height: 46px;
    padding-right: 95px;
}
.topic-modal{
    width: 660px;
    height: 275px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(200,200,200,0.6);
    border-radius: 4px;
    padding: 30px 15px 20px 28px;
    margin: auto;
    margin-top: 200px;
    background-color: #fafafa;
}
.topic-modal-header{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    letter-spacing: -0.5px;
    padding-bottom: 20px;
}
.topic-tech{
    background: url('../Images/topic_technology.png') no-repeat center;
}
.topic-science{
    background: url('../Images/topic_science.png') no-repeat center;
}
.topic-music{
    background: url('../Images/topic_music.png') no-repeat center;
}
.topic-sports{
    background: url('../Images/topic_sports.png') no-repeat center;
}
.topic-health{
    background: url('../Images/topic_health.png') no-repeat center;
}
.topic-tech, .topic-science, .topic-sports, .topic-health, .topic-music{
    width: 115px;
    height: 115px;
    background-size: cover;
    border-radius: 3px!important;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}
.topic-btn{
    background-color: #329bff;
    border-radius: 40px;
    border: none;
    padding: 7px 20px 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.btn-disabled{
    opacity: .5!important;
    pointer-events: none!important;
}
.check{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    margin-top: 7px;
}
.check-conatiner{
    width: 28px;
    height: 29px;
    margin-left: 82px;
    margin-top: 8px;
    border-radius: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}
.topic-tech:hover .check-conatiner, .topic-science:hover .check-conatiner, .topic-sports:hover .check-conatiner, .topic-health:hover .check-conatiner, .topic-music:hover .check-conatiner{
    background-color: rgba(255, 255, 255, 0.5);
}
.topic-tech:hover .check, .topic-science:hover .check, .topic-sports:hover .check, .topic-health:hover .check, .topic-music:hover .check{
    display:inline-block;
    width:16px;
    height:16px;
    background-size:16px 16px;
    background-repeat:no-repeat;
    background-image:url('../Images/check1.svg');
    margin-top: 7px;
}
.unsuccess-signup{
    width: 52%;
    margin: auto;
    text-align: center;
    height: 80px;
    border-radius: 10px;
    border: 1px red solid;
    line-height: 78px;
    margin-bottom: 35px;
    margin-top: -15px;
    color: red;
    font-weight: bold;
}
.success-signup{
    width: 52%;
    margin: auto;
    text-align: center;
    height: 80px;
    border-radius: 10px;
    border: 1px #10b010 solid;
    line-height: 78px;
    margin-bottom: 35px;
    margin-top: -15px;
    color: #10b010;
    font-weight: bold;
}
