.header {
  position: fixed;
  width: 100vw;
  height: 54px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  justify-content: center;
  z-index: 99;
  background-color: #fff;
}
.header-nav{
  width: 914px;
}
.header-elem{
  cursor: pointer;
}
.header-elem div{
  padding: 0px 35px;
}
.quora-logo{
  width: 84px;
  height: 50px;
  cursor: pointer;
  margin-right: 20px;
}
.header-logo-text{
  font-size: 14px;
  font-weight: bold;
  color: #666;
  float: left;
  line-height: 51px;
}
.home{
  width: 96px;
}
.answer, .spaces {
  width: 106px;
}
.notifications{
  width: 140px;
  overflow: visible;
 
 
}
.home-elem{
  background: url('../Images/home.svg') no-repeat 8px center;
}
.answer-elem{
  background: url('../Images/answer.svg') no-repeat 8px center;
}
.spaces-elem{
  background: url('../Images/spaces.svg') no-repeat 8px center;
}
.notifications-elem{
  background: url('../Images/notifications.svg') no-repeat 8px center;
}
.profile{
  width: 35px;
  height: 54px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.profile-logo{
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 12px;
  border-radius: 100%;
  /* background: url('../Images/profile_logo.png') no-repeat center; */
}
.search-box{
  font-size: 15px;
  border: 1px solid #e2e0e0;
  border-radius: 4px;
  margin-top: 10px;
  padding: 6px 32px;
  padding-left: 26px;
  background: url('../Images/quora_search.png') no-repeat 8px center;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
}
.add-question{
  width: 158px;
  height: 30px;
  padding: 5px 6px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: 1px #b92b27 solid;
  background: #b92b27;
  border-radius: 3px;
  margin-top: 12px;
  line-height: 17px;
  cursor: pointer;
}
.notifications-elem__badge {
  background-color: #b92b27;
  border-radius: 2px;
  color: white;
 margin-top: 5px;
  padding: 1px 3px;
  font-size: 10px;
  position: relative; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}
.head_notification_dropdown {
  width: 410px;
  height: 40px;
    display: block;
    font-size: 0.9em;
    font-weight:bold; 
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(5, 4, 0);
    position: absolute;
    background-color:rgb(194, 192, 192); 
    border-bottom: solid 0.25px rgb(136, 135, 135);
    border-left: solid 0.25px rgb(136, 135, 135);
    border-right: solid 0.25px rgb(136, 135, 135);
    position: absolute;
}
.notifications-elem_dropdowncontents {
  color:black;
  display:block;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  height:250px;
  line-height:19.6px;
  overflow:auto;
  text-size-adjust:100%;
  white-space:normal;
  width:480px;
  margin-top: 80px !important;
  position: relative;
  z-index: 999;
  background: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(200,200,200,0.7);

  }
  .question-notification {
    color: blue
  }
  .timestamp-notification {
   font-size: 0.75em;
   margin-left:10px; 
  }
  .read-notifications{
    margin-left:80px ;
  }
  .Link-color{
    color: black;
  }
.liclass{
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom:10px; 
  width: 400px;
 
}
.ulclass{
  width: 480px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(200,200,200,0.7);
  margin-left: -50px !important;
  
}
.dropdown-menu{
  margin-top: 20px;
  width: 400px;
  margin-left:10px;
  height: 500px;
  padding-left:10px; 
  overflow: auto; 
}
.dropdown-menu-profile{
  margin-top: 20px;
  width: 186px;
  height: auto !important;
  margin-left: -70px !important;
  padding-left:10px; 
  overflow: auto; 
  border-radius: 3px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(200,200,200,0.7);
  padding: 0;
}

.dropdown-menu-profile a{
  text-decoration: none;
}
.dropdown-menu-profile a:hover{
  text-decoration: none;
  background-color: #dfeffa;
}
.dropdown-item-profile{
  display: block;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #2b6dad;;
  border-top: 1px solid #e2e2e2;
  padding-bottom: 10px;
}
.modal-below-text{
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 15px;
  line-height: 1.4;
  color: #949494;
}
.delete-pw{
  margin: 10px;
  padding-left: 10px;
  width: 300px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3)
}
.modal-delete-header{
  font-size: 19px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.deleteAccount-btn{
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
}
.deleteAccount-btn:hover{
  background: #3e78ad;
}
.header-profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: -2px;
  margin-top: 6px;
}