.header {
  position: fixed;
  width: 100vw;
  height: 54px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  justify-content: center;
  position: fixed;
}
.header-nav{
  width: 914px;
}
.header-elem{
  cursor: pointer;
}
.header-elem div{
  padding: 0px 35px;
}
.quora-logo{
  width: 84px;
  height: 50px;
  cursor: pointer;
  margin-right: 20px;
}
.header-logo-text{
  font-size: 14px;
  font-weight: bold;
  color: #666;
  float: left;
  line-height: 51px;
}
.home{
  width: 96px;
}
.answer, .spaces {
  width: 106px;
}
.notifications{
  width: 140px;
}
.home-elem{
  background: url('../Images/home.svg') no-repeat 8px center;
}
.answer-elem{
  background: url('../Images/answer.svg') no-repeat 8px center;
}
.spaces-elem{
  background: url('../Images/spaces.svg') no-repeat 8px center;
}
.notifications-elem{
  background: url('../Images/notifications.svg') no-repeat 8px center;
}
.profile{
  width: 35px;
  height: 54px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.profile-logo{
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 12px;
  border-radius: 100%;
  background: url('../Images/profile_logo.png') no-repeat center;
}
.search-box{
  font-size: 15px;
  border: 1px solid #e2e0e0;
  border-radius: 4px;
  margin-top: 10px;
  padding: 6px 32px;
  padding-left: 26px;
  background: url('../Images/quora_search.png') no-repeat 8px center;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
}
.add-question{
  width: 158px;
  height: 30px;
  padding: 5px 6px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: 1px #b92b27 solid;
  background: #b92b27;
  border-radius: 3px;
  margin-top: 12px;
  line-height: 17px;
  cursor: pointer;
}
.notifications-elem__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
 margin-top: 5px;
  padding: 1px 3px;
  font-size: 10px;
  margin-right:630px; 
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

.header ul {
  list-style: none;
  padding: 0;
  margin-top:20px; 


}
.header li {
  padding: 8px 0px;
  width: 410px;
  height: 80px;
  border-bottom: solid 0.25px rgb(136, 135, 135);
  border-left: solid 0.25px rgb(136, 135, 135);
  border-right: solid 0.25px rgb(136, 135, 135);
  padding-top:20px;
padding-left: 10px;
padding-right:5px;  

}
.head_notification_dropdown {
  width: 410px;
  height: 40px;
    display: block;
    font-size: 0.9em;
    font-weight:bold; 
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(5, 4, 0);
    position: absolute;
    background-color:rgb(194, 192, 192); 
    border-bottom: solid 0.25px rgb(136, 135, 135);
    border-left: solid 0.25px rgb(136, 135, 135);
    border-right: solid 0.25px rgb(136, 135, 135);
    position: absolute;

  }


.header li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
.notifications-elem_dropdowncontents {
  color:black;
  direction:ltr;
  display:block;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  height:350px;
  line-height:19.6px;
  overflow:auto;
  text-size-adjust:100%;
  white-space:normal;
  width:480px;
  -webkit-box-direction:normal;
  background-color: white;
  position: relative;
  z-index: 999;

  }
  .question-notification {
    color: blue
  }
  .timestamp-notification {
   font-size: 0.75em;
   margin-left:10px; 
  }
  .read-notifications{
    margin-left:80px ;
  }
  .Link-color{
    color: black;
  }
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    z-index: 999;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }