hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-bottom:-12px; 
    position: relative;
    top:210px; 
    margin-right:400px; 
    margin-left:90px; 

}
.profile-pic{
    top:80px;
    margin-left:90px;
    position: absolute; 
}
.info{
    font-size:2em;
    left:140px;
    width:600px;
    top:2px; 
    position: absolute;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.tagline-profile{
    top:20px;
    left: 120px;
    position: absolute; 
    width:600px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.description-profile{
    top:50px;
    left: 120px;
    position: absolute; 
    width:600px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.profile-hr {

    top:-2px;
    width: 640px;

    margin-left:0px; 

}
#right-tab{
   left: 10px;
    
}
.credentials-profile{
    top: 100px;
    right: 120px;
    position: absolute;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.credentials-profile-add{
    top: 140px;
    right: 90px;
    position: absolute;
    color: blue;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.credential-hr {

    top:120px;
    width: 210px;
    right: -290px;
    margin-left:20px; 
 position: absolute;

}
#hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
#hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
#hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
#popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
#popupCloseButton:hover {
    background-color: #ccc;
}
#followers-elem{
    margin-right:10px;
    margin-bottom:50px;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    
}